# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# ignore for Eclipse
.metadata
.recommenders
RemoteSystemsTempFiles

update-dois/target/maven-status/maven-compiler-plugin/compile/default-compile/*.lst
update-dois/.settings/org.eclipse.jdt.core.prefs
config.properties
*.classpath
*.project
*.report
