# This file is used to specify which steps in DownloadDirectory to execute.
# Comment out any steps that don't need to be run.
protegeexporter
DatabaseDumps
BioPAX2
BioPAX3
GSEAOutput
ReactomeBookPDF
ReactomeBookRTF
FetchTestReactomeOntologyFiles
CreateReleaseTarball
PathwaySummationMappingFile
MapOldStableIds
gene_association.reactome
models2pathways.tsv
CreateReactome2BioSystems