<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="LogFile" fileName="logs/GO_Update-${date:MM-dd-yyyy_HH.mm.ss}.log" filePattern="logs/GO_Update-%d{MM-dd-yyyy_HH.mm.ss}.log">
			<PatternLayout>
				<Pattern>%msg%n</Pattern>
			</PatternLayout>
				<Policies>
					<OnStartupTriggeringPolicy />
				</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="Console" level="debug"/>
			<AppenderRef ref="LogFile" level="info"/>
		</Root>
	</Loggers>
</Configuration>