<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <RollingFile name="LogFile" fileName="logs/Orthopairs-${date:MM-dd-yyyy_HH.mm.ss}.log" filePattern="logs/Orthopairs-%d{MM-dd-yyyy_HH.mm.ss}.log">
            <PatternLayout>
                <Pattern>%msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
            </Policies>
        </RollingFile>
        <RollingFile name="warningsLogFile" fileName="logs/Orthopairs-${date:MM-dd-yyyy_HH.mm.ss}.err" filePattern="logs/Orthopairs-%d{MM-dd-yyyy_HH.mm.ss}.err">
            <PatternLayout>
                <Pattern>%msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="warningsLog" level="warn" additivity="false">
            <AppenderRef ref="warningsLogFile"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="Console" level="debug"/>
            <AppenderRef ref="LogFile" level="info"/>
        </Root>
    </Loggers>
</Configuration>